@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .map {
    @apply h-screen w-screen;
  }
  .container {
    @apply h-full;
  }
  .label-green {
    position: absolute;
    padding: 0.2rem;
    color: #fbfbfb;
    border-radius: 0.5rem;
    top: -5.5rem;
    left: 50%;
    transform: translate(-50%);
    white-space: pre;
    background: #008485;
  }
  .label-red {
    position: absolute;
    padding: 0.2rem;
    color: #fbfbfb;
    border-radius: 0.5rem;
    top: -5.5rem;
    left: 50%;
    transform: translate(-50%);
    white-space: pre;
    background: #e90061;
  }
  .myLocation {
    position: absolute;
    bottom: 6rem;
    right: 2rem;
    background: #fbfbfb;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 8px 0px rgba(0 0 0 /0.25);
    z-index: 10;
    padding: 0.25rem;
  }
  .marker-image {
    width: 5rem;
    height: 5rem;
    z-index: 1;
  }

  @media (min-height: 100dvh) {
    #root {
      --app-height: 100%;
    }
  }

  .App {
    margin: 0 auto;
    height: var(--app-height);
  }
  .Element {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .Element::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: 430px) {
    html {
      font-size: 12px;
    }
    .App {
      min-width: 320px;
      width: 100% !important;
      background-color: white;
    }
    .navbar,
    .top_header {
      width: 100%;
      margin: 0 auto;
      /* background-color: black; */
    }
    .top_header_page {
      width: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 0.94rem;
    }
  }
  @media only screen and (min-width: 430px) and (max-width: 800px) {
    html {
      font-size: 16px;
    }
    .App {
      max-width: 430px;
      width: 100%;
    }

    .navbar,
    .top_header,
    .top_header_page {
      left: calc(50% - 215px); /* Center the navbar */
      right: calc(50% - 215px); /* Center the navbar */
      /* background-color: black; */
    }
  }

  @media (min-width: 800px) {
    html {
      font-size: 18px;
    }
    .App {
      /* width: 600px; */
      max-width: 600px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 36px;
    }

    .navbar,
    .top_header,
    .top_header_page {
      left: calc(50% - 300px); /* Center the navbar */
      right: calc(50% - 300px); /* Center the navbar */
      /* background-color: black; */
      padding: 0.5rem 0;
    }
  }
}
